{{#experiences}}
  {{#unless disabled}}
  <section class="experience">
    <div class="experience__overview">
      {{#if link}}
        <a href="{{ link }}" target="_blank">
          <h5 class="experience__employer">{{{ employer }}}</h5>
        </a>
      {{else}}
        <h5 class="experience__employer">{{{ employer }}}</h5>
      {{/if}}
      <h5 class="experience__period">{{{ period }}}</h5>
    </div>
    <div class="experience__details">
      <h4 class="experience__title">{{{ title }}}</h4>
      <p class="experience__description">{{{ summary }}}</p>
    </div>
  </section>
  {{/unless}}
{{/experiences}}
