<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Resume - Peter Wong</title>

  <!-- Canonical Link -->
  <link rel="canonical" href="//peterwong.me/resume">

  <!-- Favicon -->
  <link rel="icon" href="favicon.png" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

  <!-- CSS -->
  <link media="all" type="text/css" rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link media="all" type="text/css" rel="stylesheet" href="css/resume.min.css">
  <link media="all" type="text/css" rel="stylesheet" href="css/visa.min.css">

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=
				Open+Sans:300normal,300italic,400normal,400italic,600normal,600italic,700normal,700italic,800normal,800italic|
				Open+Sans+Condensed:300normal|
				League+Script|
				Montserrat:400normal|
				Muli&subset=all" rel="stylesheet" type="text/css">
</head>

<body>
  <style>
    .bar {
      height: 2mm;
    }

    .header__right>section {
      width: 100%;
    }

    .skills>section:nth-child(even) {
      margin-right: 2rem;
    }

    .experience__list {
      margin-top: .2rem;
      padding-left: 2rem;
      font-size: .8rem;
    }

    .experience__list a {
      color: #88C5CC;
      text-decoration: underline;
    }

    .reference .fa {
      margin-right: .5rem;
    }
  </style>

  <div class="page page--one" data-page="1">
    <section class="main">
      <div class="bar bar--top"></div>
      <div class="header">
        <div class="header__left">
          <div class="profile-pic"></div>
          <h4 class="full-name">Chun Mo Wong</h4>
          <h5 class="job-title">全端網頁工程師</h5>
        </div>
        <div class="header__right">
          <section class="skills skills--web">
            <h3 class="section__title skills__title">技能</h3>
            {{#skills}}
            <section class="skill">
              <h5 class="skill__name">{{{ name }}}</h5>
              <div class="skill__level">
                <div class="progress">
                  <div class="js-progress progress__bar" data-progress="{{ level }}"></div>
                </div>
              </div>
            </section>
            {{/skills}}
          </section>
        </div>
      </div>
      <section class="section experiences">
        <h3 class="section__title experiences__title">工作經驗</h3>
        <section class="experience">
          <div class="experience__overview">
            <h5 class="experience__employer">Flight Centre</h5>
            <h5 class="experience__period">May 2017 - Now</h5>
          </div>
          <div class="experience__details">
            <h4 class="experience__title">資深Drupal網頁工程師（自由業）</h4>
            <p class="experience__description">
              於2015年曾經在Flight Centre全職工作，透過介紹和Flight Centre的Corporate部門（商務旅遊）開始合作。
              他們讓我在亞洲遠端工作，每星期以自由業的形式為他們的全球業務提供30小時的網頁開發服務。
            </p>

            <h4 class="experience__title">主要工作內容</h4>
            <ul class="experience__list">
              <li>因應項目的需求，使用PHP編寫客制化的Drupal 8模組</li>
              <li>使用Sass，jQuery和Vue.js去編寫網頁前端</li>
              <li>在pantheon.io上管理網頁寄存和伺服器</li>
              <li>負責16個網站每週的代碼發佈</li>
            </ul>

            <h4 class="experience__title">主要作品</h4>
            <ul class="experience__list">
              <li>
                <a href="https://www.fctgtravelnews.com" target="_blank">https://www.fctgtravelnews.com</a>
                <p>
                  在2週內完成一個關於COVID-19的旅遊資訊網站。
                  建設不同客制化的組件讓營銷人員可以迅速把資料輸入和更新。
                  網頁也嵌入了Sitata的COVID地圖工具。
                  其後使用OpenAPI把資訊分享給其他團隊使用。
                </p>
              </li>
              <li>
                <a href="https://www.fcmtravel.com" target="_blank">https://www.fcmtravel.com</a>
                <p>
                  支援94個國家語言的差旅管理網站。後端使用了Drupal 8的語言和翻譯模組。
                  其中也加入了Vue.js的組件，像<a href="https://www.fcmtravel.com/en/contact/regional-office">https://www.fcmtravel.com/en/contact/regional-office</a>
                  上的辦公室搜尋組件就是使用了Vue.js和Google Maps API的技術。
                  </p>
              </li>
              <li>
                <a href="https://www.stageandscreen.travel" target="_blank">https://www.stageandscreen.travel</a>
                <p>
                  提供娛樂和體育旅行的網站。由於客戶群的特點，這網站的建設重點主要在於前端。
                  使用了很多CSS3的技術，也包括不同的animations和transitions去讓網頁看起來更有動感。
                </p>
              </li>
            </ul>
          </div>
        </section>
        <section class="experience">
          <div class="experience__overview">
            <h5 class="experience__employer">Santiago Brothers</h5>
            <h5 class="experience__period">Jul 2017 - Feb 2018</h5>
          </div>
          <div class="experience__details">
            <h4 class="experience__title">Wordpress網頁工程師（自由業）</h4>
            <p class="experience__description">
              使用Wordpress替澳洲一家小型企業（咖啡豆進口商）制作的一個網站。
            </p>

            <h4 class="experience__title">主要工作內容</h4>
            <ul class="experience__list">
              <li>替客戶選取合適的網頁佈景主題和設計</li>
              <li>使用WooCommerce組件提供訂單管理功能和接受PayPal付款</li>
              <li>設定基本的網頁SEO和Wordpress速度優化</li>
            </ul>
            <h4 class="experience__title">網站連結</h4>
            <ul class="experience__list">
              <li><a href="https://santiago.com.au" target="_blank">https://santiago.com.au</a></li>
            </ul>
          </div>
        </section>
      </section>

      <div class="bar bar--bottom"></div>
    </section>

    <a href="javascript:void(0)" class="js-nav-button nav-button nav-button--next" data-target-page="2">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>

  <div class="page page--two" data-page="2">
    <section class="main">
      <div class="bar bar--top"></div>
      <section class="section experiences">
        <h3 class="section__title experiences__title">工作經驗</h3>
        <section class="experience">
          <div class="experience__overview">
            <h5 class="experience__employer">Blossom Days</h5>
            <h5 class="experience__period">May 2016 - Aug 2016</h5>
          </div>
          <div class="experience__details">
            <h4 class="experience__title">Wordpress網頁工程師（自由業）</h4>
            <p class="experience__description">
              使用Wordpress替香港一家小型企業（花店）制作的一個網站。
            </p>

            <h4 class="experience__title">主要工作內容</h4>
            <ul class="experience__list">
              <li>根據客戶的需求，從設計到網站架設一手包辦</li>
              <li>在GoDaddy上管理網頁寄存和伺服器</li>
            </ul>
            <h4 class="experience__title">網站連結</h4>
            <ul class="experience__list">
              <li><a href="http://blossomdays.hk" target="_blank">http://blossomdays.hk</a></li>
            </ul>
          </div>
        </section>
        <section class="experience">
          <div class="experience__overview">
            <h5 class="experience__employer">Auto & General</h5>
            <h5 class="experience__period">May 2016 - Mar 2017</h5>
          </div>
          <div class="experience__details">
            <h4 class="experience__title">全端網頁工程師</h4>
            <p class="experience__description">
              Auto & General擁有不同澳洲的保險業務。
              其主要子公司為Budget Direct，一家低費用的網上保險公司。
              我的工作是開發和維護Budget Direct的網上保險應用程序。
            </p>

            <h4 class="experience__title">主要工作內容</h4>
            <ul class="experience__list">
              <li>使用Angular, Webpack和Jest等技術去建設保險產品的網頁應用程式</li>
              <li>利用Java的Spring framework去建設REST API</li>
              <li>維護一些使用JSTL的舊有網站</li>
            </ul>
            <h4 class="experience__title">網站連結</h4>
            <ul class="experience__list">
              <li><a href="https://www.budgetdirect.com.au" target="_blank">https://www.budgetdirect.com.au</a></li>
            </ul>
          </div>
        </section>
        <section class="experience">
          <div class="experience__overview">
            <h5 class="experience__employer">Flight Centre</h5>
            <h5 class="experience__period">Feb 2015 - May 2016</h5>
          </div>
          <div class="experience__details">
            <h4 class="experience__title">Drupal網頁工程師</h4>
            <p class="experience__description">在Leisure部門（休閒旅遊）使用Drupal 7去開發和維護澳洲地區的網站。</p>

            <h4 class="experience__title">主要工作內容</h4>
            <ul class="experience__list">
              <li>利用PHP, jQuery, Sass和React等技術去開發新的網頁功能</li>
              <li>在Drupal上幫助團隊為營銷活動架設單一的登陸頁面</li>
            </ul>
            <h4 class="experience__title">網站連結</h4>
            <ul class="experience__list">
              <li><a href="https://www.flightcentre.com.au" target="_blank">https://www.flightcentre.com.au</a></li>
            </ul>
          </div>
        </section>
      </section>

      <div class="bar bar--bottom"></div>
    </section>

    <a href="javascript:void(0)" class="js-nav-button nav-button nav-button--previous" data-target-page="1">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a href="javascript:void(0)" class="js-nav-button nav-button nav-button--next" data-target-page="3">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>

  <div class="page page--three" data-page="3">
    <section class="main">
      <div class="bar bar--top"></div>
      <section class="section educations">
        <h3 class="section__title educations__title">學歷</h3>
        {{> educations }}
      </section>
      <section class="section certs">
        <h3 class="section__title certs__title">證照</h3>
        {{#vCerts}}
        <section class="cert">
          <div class="cert__overview">
            {{#if link}}
            <a href="{{ link }}" target="_blank">
              <h5 class="cert__issuer">{{{ issuer }}}</h5>
            </a>
            {{else}}
            <h5 class="cert__issuer">{{{ issuer }}}</h5>
            {{/if}}
            <h5 class="cert__period">{{{ period }}}</h5>
          </div>
          <div class="cert__details">
            <h4 class="cert__title">{{{ title }}}</h4>
            <p class="cert__description">{{{ summary }}}</p>
          </div>
        </section>
        {{/vCerts}}

      </section>
      <section class="section skills skills--language">
        <h3 class="section__title skills__title">語言</h3>
        {{#vLangs}}
        <section class="skill skill--language">
          <h5 class="skill__name">{{{ name }}}</h5>
          <div class="skill__level">
            <div class="progress">
              <div class="js-progress progress__bar" data-progress="{{ level }}"></div>
            </div>
          </div>
        </section>
        {{/vLangs}}
      </section>
      <section class="section references">
        <h3 class="section__title references__title">推薦人</h3>
        {{#vRefs}}
        {{#unless disabled}}
        <section class="reference">
          <h3 class="reference__name">{{{ name }}}</h3>
          <h4 class="reference__title">{{{ title }}}</h4>
          <div class="reference__company"><i class="fa fa-building" aria-hidden="true"></i>{{{ company }}}</div>
          <div>
            <a href="mailto:{{{ email }}}" class="reference__email"><i class="fa fa-envelope" aria-hidden="true"></i>{{{
              email
              }}}</a>
          </div>

          {{#if linkedin}}
          <a href="{{{ linkedin }}}" class="reference__email"><i class="fa fa-linkedin" aria-hidden="true"></i>{{{
            linkedin
            }}}</a>
          {{/if}}
        </section>
        {{/unless}}
        {{/vRefs}}

      </section>
      <div class="bar bar--bottom"></div>
    </section>

    <a href="javascript:void(0)" class="js-nav-button nav-button nav-button--previous" data-target-page="2">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
  </div>

  <!-- JS -->
  <script src="js/resume.min.js"></script>
</body>

</html>
